@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4
   
   Browyer Realty Layout Styles
   Author: Gabriel Hernandez
   Date: 11/9/18
	
   Filename: br_styles.css

*/

/* Body */
body{
    display: block;
    max-width: 960px;
    min-width: 640px;
    margin-left: auto;
    margin-right: auto;
    background: url(br_paper.png) fixed;
}

/* Header and Nav */
header img{
    display: block;
    width: 100%;

}

header > nav {
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

nav > ul {
    display: table-row;
}

header > nav > ul > li{
    display: table-cell;
    text-align: center;
}

header > nav > ul > li > a {
    display: block;
    text-align: center;  
}

/* Aside */
aside.left{
    display: block; 
    width: 25%; 
    float: left;
}

aside.right {
    display: block;
    width: 60%;
    float: right;
}

/* Section */
section{
    clear: both;
}

/* Images */
